<div class="cart--cart-block">
    <div class="cart-block--summary">
        <a class="cart-block--link__expand" data-toggle="modal" data-target="#cart-ajax-modal">
            <span class="cart-block--summary__icon">{{ icon }}</span>
            <span class="cart-block--summary__count"><i>{{ count }}</i></span>
        </a>
    </div>
    <div id="cart-ajax-modal" class="modal cart-block--contents" data-backdrop="static" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="cart-popup-hdr">{{ 'Shopping cart'|trans }}</div>
                </div>
                <div class="cart-block--contents__inner modal-body">
                    <div class="cart-block--contents__items">
                        <div class="cart cart-block">
                            {% for item in cart_items %}
                                <div class="cart-block__item">
                                    <form action="/" method="post">
                                        <p class="cart-block__item-counter"><i>{{ loop.index }}</i></p>
                                        <img src="{{ item.image }}" />
                                        <div class="cart-block__item-body-wrap">
                                            <p class="cart-block__item-title">{{ item.title }}</p>
                                            <div class="cart-block__item-body">
                                                <div class="cart-block__item-row">
                                                    <p class="cart-block__item-price"><span>{{ 'Price'|trans }}:</span><span>{{ item.unit_price }}</span></p>
                                                    <div class="cart-block__item-quantity">
                                                        <span>{{ 'Quantity'|trans }}:</span>
                                                        <div class="input-quantity">
                                                            <input type="number" step="1" min="1" name="quantity" value="{{ item.quantity }}" />
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="id" value="{{ item.id }}" />
                                                    <button type="button" class="cart-block__remove"><i>&times;</i></button>
                                                </div>
                                                <div class="cart-block__item-row">
                                                    <p class="cart-block__item-sum"><span>{{ 'For payment'|trans }}:</span><span>{{ item.total_price }}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% else %}
                                <div class="cart-block__item">{{ 'Cart is empty'|trans }}</div>
                            {% endfor %}
                            <div class="cart-block-total"><span>{{ 'Summary'|trans }}:</span> <span>{{ total_price }}</span></div>
                        </div>
                    </div>
                    <div class="cart-block--contents__links">
                        <button class="btn btn-default" type="button" data-dismiss="modal" aria-hidden="true">{{ 'Continue shopping'|trans }}</button>{% if checkout_url %}
                            <div class="anchor-wrapper"><a href="{{ checkout_url }}" class="anchor-buy">{{ 'checkout'|trans }}</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>